# Install

In [1]:
!pip install fredapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

# Import

In [2]:
import requests
import sys
import json
import pandas as pd
import numpy as np
import fredapi as fa

from datetime import datetime
from datetime import timedelta

# Constants
Tweakable constants

In [3]:
OUTPUT_FILE = 'DATA.csv'

DATE_FROM = '2022-06-30T00:00:00'
DATE_TO = '2022-09-25T00:00:00'

# percentage of valid values per row
EMPTY_VALUES_THRESHOLD = 0.7

In [4]:
#EPIC_SNP500 = 'SPX'
#EPIC_SPDR_SNP500 = 'SPY'

EPIC_APPLE = 'AAPL'
EPIC_TESLA = 'TSLA'
EPIC_META = 'META'
EPIC_GOOGLE = 'GOOG'
EPIC_NETFLIX = 'NFLX'
EPIC_AMAZON = 'AMZN'
EPIC_NVIDIA = 'NVDA'
EPIC_INTEL = 'INTC'
EPIC_PAYPAL = 'PYPL'
EPIC_AMD = 'AMD'
EPIC_MICROSOFT = 'MSFT'
EPIC_IBM = 'IBM'

EPIC_USD_INDEX = 'DXY'
EPIC_USD_CAD = 'USDCAD'
EPIC_USD_JPY = 'USDJPY'
EPIC_USD_CHN = 'USDCNH'
EPIC_USD_EUR = 'EURUSD'
EPIC_USD_GBP = 'GBPUSD'

EPIC_VANGUARD_CONSUMER_DISCRETIONARY = 'VCR'
EPIC_CONSUMER_DISCRETIONARY_SELECT_SECTOR_SPDR_FUND = 'XLY'
EPIC_ISHARES_20_PLUS_YR_TREASURY_BOND = 'TLT'
EPIC_VOLATILITY_INDEX = 'VIX'
EPIC_SNP500 = 'US500'
EPIC_NASDAQ100 = 'US100'
EPIC_DJIA = 'US30'
EPIC_NASDAQ = 'NDAQ'
EPIC_NIKKEI225 = 'J225'
EPIC_RUSSEL2000 = 'RTY'
EPIC_DAX = 'DE40'
EPIC_HSI = 'HK50'
EPIC_AUS200 = 'AU200'
EPIC_SSE = 'SSE'
EPIC_FTSE100 = 'UK100'
EPIC_EU50 = 'EU50'
EPIC_CN50 = 'CN50'
EPIC_VANGUARD_TOTAL_STOCK_MARKET = 'VTI'
EPIC_VGT = 'VGT'
EPIC_ISHARES_MSCI_EMERGING_MARKETS = 'EEM'

EPIC_GOLD = 'GOLD'
EPIC_SILVER = 'SILVER'
EPIC_COPPER = 'COPPER'
EPIC_PLATINUM = 'PLATINUM'
EPIC_PALLADIUM = 'PALLADIUM'
EPIC_LEAD = 'LEAD'
EPIC_CRUDE_OIL = 'OIL_CRUDE'
EPIC_BRENT_OIL = 'OIL_BRENT'
EPIC_NATURAL_GAS = 'NATURALGAS'
EPIC_COFFEE_ARABICA = 'COFFEEARABICA'

FRED_10_YR_TREASURY_CONST_MATURITY_MINUS_2_YR = 'T10Y2Y'
FRED_10_YR_BREAKEVEN_INFLATION_RATE = 'T10YIE'
FRED_5_YR_BREAKEVEN_INFLATION_RATE = 'T5YIE'
FRED_5_YR_FORWARD_EXPECTED_INFLATION_RATE = 'T5YIFR'

In [5]:
STOCK_INTEREST = EPIC_APPLE

STOCK_LIST = [
   EPIC_APPLE,
   EPIC_TESLA,
   EPIC_META,
   EPIC_GOOGLE,
   EPIC_NETFLIX,
   EPIC_AMAZON,
   EPIC_NVIDIA,
   EPIC_INTEL,
   EPIC_AMD,
   EPIC_MICROSOFT,
   EPIC_IBM,

   #EPIC_VANGUARD_CONSUMER_DISCRETIONARY,
   EPIC_CONSUMER_DISCRETIONARY_SELECT_SECTOR_SPDR_FUND,
   EPIC_SNP500,
   EPIC_NASDAQ100,
   EPIC_DJIA,
   EPIC_NIKKEI225,
   EPIC_RUSSEL2000,
   EPIC_DAX,
   EPIC_HSI,
   EPIC_AUS200,
   EPIC_SSE,
   EPIC_FTSE100,
   EPIC_EU50,
   EPIC_CN50,
   EPIC_VANGUARD_TOTAL_STOCK_MARKET,
   EPIC_VGT,
   EPIC_ISHARES_MSCI_EMERGING_MARKETS,
   EPIC_ISHARES_20_PLUS_YR_TREASURY_BOND,
   EPIC_USD_INDEX,
   EPIC_USD_CAD,
   EPIC_USD_JPY,
   EPIC_USD_CHN,
   EPIC_USD_EUR,
   EPIC_USD_GBP,
   EPIC_GOLD,
   EPIC_SILVER,
   EPIC_COPPER,
   EPIC_PLATINUM,
   EPIC_PALLADIUM,
   EPIC_CRUDE_OIL,
   EPIC_BRENT_OIL,
   EPIC_NATURAL_GAS,
   EPIC_VOLATILITY_INDEX,
]

FRED_LIST = [
    FRED_10_YR_TREASURY_CONST_MATURITY_MINUS_2_YR,
    FRED_10_YR_BREAKEVEN_INFLATION_RATE,
    FRED_5_YR_BREAKEVEN_INFLATION_RATE,
    FRED_5_YR_FORWARD_EXPECTED_INFLATION_RATE,
]

In [6]:
DATE_FORMAT = '%Y-%m-%dT%H:%M:%S'
DATE_DF_FORMAT = '%Y-%m-%d'

QUERY_NUM = 1000
QUERY_INTERVAL = 'DAY'

Capital.com API Constants

In [7]:
API_KEY = '<ENTER_API_KEY>'
API_LOGIN = '<ENTER_LOGIN>'
API_PASS = '<ENTER_PASSWORD>'

API_ENDPOINT = 'https://demo-api-capital.backend-capital.com'
API_PREFIX = '/api/v1'
API_BASE_URL = API_ENDPOINT + API_PREFIX

In [8]:
API_CONTENT_TYPE_KEY = 'Content-Type'
API_CONTENT_TYPE_VALUE = 'application/json'

FRED API Constants

In [9]:
fred = fa.Fred(api_key='6ffa4ce000638cd6532d02bfb42fedc7')

# API Path

In [10]:
PATH_API_SESSION = '/session'
PATH_API_MARKET = '/market'
PATH_API_PRICES = '/prices'
PATH_API_WATCHLISTS = '/watchlists'

# Helper Functions

In [11]:
def GetDateList(date_time_from, date_time_to):
  date_list = []
  while date_time_from <= date_time_to:
    no = date_time_from.weekday()

    # Only add weekday
    if no < 5:
      date_list.append(date_time_from.strftime(DATE_DF_FORMAT))

    date_time_from = date_time_from + timedelta(days=1)

  return date_list

def ConvertDictOfObjectToDictOfValue(map, field):
  ret = {}
  for key in map:
    ret[key] = map[key][field]
  
  return ret

# Create Session
Prepare header and body

In [12]:
create_session_payload = {
    'identifier': API_LOGIN,
    'password': API_PASS,
}

create_session_headers = {
    'X-CAP-API-KEY': API_KEY,
    API_CONTENT_TYPE_KEY: API_CONTENT_TYPE_VALUE,
}

Create Session

In [13]:
create_session_url = API_BASE_URL + PATH_API_SESSION
result = requests.post(create_session_url,
                       data=json.dumps(create_session_payload),
                       headers=create_session_headers)

Parse create session response

Extract required token

In [14]:
cst = result.headers['CST']
security_token = result.headers['X-SECURITY-TOKEN']

In [15]:
api_headers = {
    'CST': cst,
    'X-SECURITY-TOKEN': security_token,
}

# Get Market Prices
Get market prices from `STOCK_LIST`

In [16]:
def GetMarketPrices(api_headers, stock_interest, stock_list, query_interval, query_num, date_from, date_to):
  date_time_from = datetime.strptime(date_from, DATE_FORMAT)
  date_time_to = datetime.strptime(date_to, DATE_FORMAT)

  date_list = GetDateList(date_time_from, date_time_to)
  df = pd.DataFrame({
      'Date': date_list,
  })

  interest_price_map = DoGetStockPrice(stock_interest, query_interval, query_num, date_time_from, date_time_to, ProcessInterestStockPrices)
  AddInterestStockInfoToDatadrame(df, interest_price_map, date_list, 'Open')
  AddInterestStockInfoToDatadrame(df, interest_price_map, date_list, 'High')
  AddInterestStockInfoToDatadrame(df, interest_price_map, date_list, 'Low')
  AddInterestStockInfoToDatadrame(df, interest_price_map, date_list, 'Close')
  AddInterestStockInfoToDatadrame(df, interest_price_map, date_list, 'Volume')

  for epic in stock_list:
    # skip
    if epic == stock_interest:
      continue

    price_map = DoGetStockPrice(epic, query_interval, query_num, date_time_from, date_time_to, ProcessStockPrices)

    series = pd.Series(price_map, index=date_list)
    print(series.tolist())
    df[epic] = series.tolist()

  return df

def DoGetStockPrice(epic, query_interval, query_num, date_from, date_to, processor):
  date_time_current_from = date_from
  price_map = {}

  while date_time_current_from < date_to:
    date_time_current = date_time_current_from + timedelta(days=query_num - 1)
    if date_time_current > date_to:
      date_time_current = date_to
      
    api_params = {
      'resolution': query_interval,
      'max': query_num,
      'from': date_time_current_from.strftime(DATE_FORMAT),
      'to': date_time_current.strftime(DATE_FORMAT),
    }

    print("[DoGetStockPrice] " + epic + " | date from: " + api_params['from'] + " - date to: " + api_params['to'])
      
    get_prices_url = API_BASE_URL + PATH_API_PRICES + '/' + epic
    result = requests.get(get_prices_url, api_params, headers=api_headers)
    response = result.json()

    #print("[GetMarketPrices] response: ")
    #print(json.dumps(response))
  
    processor(response, price_map)

    date_time_current_from = date_time_current
    print("-----------------------------------------------------------------------------------------------------")

  return price_map

def AddInterestStockInfoToDatadrame(df, price_map, date_list, field):
  map = ConvertDictOfObjectToDictOfValue(price_map, field)
  series = pd.Series(map, index=date_list)
  df[field] = series.tolist()

def ProcessStockPrices(response, price_map):
  for price in response['prices']:
    cd = datetime.strptime(price['snapshotTimeUTC'], DATE_FORMAT)

    if 'ask' in price['closePrice']:
      price_map[cd.strftime(DATE_DF_FORMAT)] = price['closePrice']['ask']
    else:
      price_map[cd.strftime(DATE_DF_FORMAT)] = price['closePrice']['bid']

def ProcessInterestStockPrices(response, price_map):
  for price in response['prices']:
    cd = datetime.strptime(price['snapshotTimeUTC'], DATE_FORMAT)
    key = cd.strftime(DATE_DF_FORMAT)
    price_map[key] = {}
    if 'ask' in price['openPrice']:
      price_map[key]['Open'] = price['openPrice']['ask']
      price_map[key]['High'] = price['highPrice']['ask']
      price_map[key]['Low'] = price['lowPrice']['ask']
      price_map[key]['Close'] = price['closePrice']['ask']
    else:
      price_map[key]['Open'] = price['openPrice']['bid']
      price_map[key]['High'] = price['highPrice']['bid']
      price_map[key]['Low'] = price['lowPrice']['bid']
      price_map[key]['Close'] = price['closePrice']['bid']
      
    price_map[key]['Volume'] = price['lastTradedVolume']

In [17]:
df = GetMarketPrices(api_headers, STOCK_INTEREST, STOCK_LIST, QUERY_INTERVAL, QUERY_NUM, DATE_FROM, DATE_TO)

[DoGetStockPrice] AAPL | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[DoGetStockPrice] TSLA | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[224.34, 226.76, nan, 233.08, 231.58, 243.72, 250.77, 234.03, 232.17, 234.85, 239.49, 240.0, 241.4, 247.18, 251.32, 269.75, 272.0, 266.79, 262.34, 273.71, 284.39, 296.73, 298.0, 301.76, 307.86, 309.34, 288.34, 293.07, 284.0, 293.32, 288.24, 300.02, 309.68, 306.64, 303.17, 303.34, 296.69, 290.54, 296.67, 298.1, 296.01, 287.01, 286.21, 278.23, 272.26, 280.01, 270.11, nan, 274.07, 283.54, 290.07, 299.97, 304.74, 291.83, 304.41, 300.32, 303.4, 309.53, 307.51, 299.33, 304.56, 275.15]
[DoGetStockPrice] META | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[161.44, 160.09, nan, 168.3, 169.92, 171.75, 170.99, 163.15, 163.25, 163.25, 159.38, 164.88, 168.17, 178.06, 181.9, 174.6, 169.39, 165.85, 163.5, 161.79, 161.7, 158.69, 160.1, 159.98, 168.22, 170.89, 167.15, 171.04, 168.97, 178.35, 177.7, 180.5, 180.77, 179.54, 174.26, 174.6, 167.95, 163.73, 161.07, 163.78, 168.4, 161.53, 160.31, 157.44, 164.16, 165.6, 160.44, nan, 159.0, 160.9, 162.63, 169.1, 169.26, 153.7, 152.26, 148.11, 146.6, 148.52, 146.07, 140.86, 143.87, 140.21]
[DoGetStockPrice] GOOG | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[109.62, 109.17, nan, 113.85, 115.52, 119.3, 120.21, 116.52, 114.77, 111.67, 112.12, 112.75, 110.53, 115.65, 115.07, 112.61, 109.02, 108.25, 110.97, 113.4, 115.87, 116.98, 115.83, 116.2, 118.9, 119.44, 118.7, 118.9, 118.05, 120.98, 120.46, 122.92, 123.23, 122.85, 120.38, 121.25, 118.56, 116.0, 115.15, 115.16, 118.22, 111.55, 111.37, 110.42, 108.87, 111.32, 109.31, nan, 107.99, 110.82, 110.12, 112.1, 112.54, 106.24, 106.64, 103.55, 104.25, 104.82, 102.38, 99.71, 101.27, 99.53]
[DoGetStockPrice] NFLX | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[177.02, 180.18, nan, 186.04, 184.27, 188.73, 187.59, 177.79, 174.45, 176.09, 176.04, 189.71, 191.94, 217.58, 215.49, 223.1, 220.31, 217.47, 216.04, 226.41, 226.84, 225.09, 226.04, 221.46, 226.72, 230.46, 227.52, 235.04, 230.04, 245.55, 243.55, 249.42, 249.0, 245.69, 239.9, 245.53, 241.2, 227.04, 224.65, 231.43, 233.84, 222.39, 226.4, 224.18, 226.04, 230.69, 226.82, nan, 219.02, 228.79, 228.02, 233.54, 236.8, 219.01, 224.74, 232.54, 240.69, 244.5, 243.3, 234.94, 238.85, 226.89]
[DoGetStockPrice] AMZN | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[106.95, 109.59, nan, 113.54, 114.5, 115.85, 115.59, 111.97, 109.53, 109.83, 111.48, 113.86, 114.25, 118.96, 122.61, 123.6, 122.58, 116.65, 117.54, 120.85, 139.02, 135.24, 135.26, 134.35, 139.34, 143.13, 140.86, 140.06, 138.02, 142.77, 141.06, 143.48, 142.96, 144.78, 141.81, 142.38, 138.03, 134.24, 133.62, 133.92, 137.35, 130.55, 130.39, 128.85, 125.65, 128.25, 127.9, nan, 126.38, 129.56, 130.53, 133.32, 136.68, 127.88, 129.05, 123.93, 123.85, 125.49, 122.18, 117.35, 119.25, 114.12]
[DoGetStockPrice] NVDA | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[151.32, 145.23, nan, 149.37, 151.41, 158.07, 158.33, 151.17, 151.08, 150.24, 155.48, 157.55, 161.48, 172.51, 176.83, 177.21, 173.03, 169.72, 169.23, 177.74, 179.38, 182.03, 184.83, 181.38, 188.18, 192.44, 189.86, 176.55, 170.13, 181.02, 180.02, 187.44, 190.35, 188.77, 181.68, 187.71, 178.42, 170.63, 172.03, 164.51, 179.47, 162.42, 158.61, 155.08, 141.13, 138.83, 136.93, nan, 135.04, 137.78, 140.6, 143.96, 145.84, 131.43, 132.13, 127.83, 132.02, 134.53, 131.72, 130.74, 133.92, 125.18]
[DoGetStockPrice] INTC | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[37.51, 36.39, nan, 36.76, 37.43, 38.19, 38.07, 37.37, 37.31, 37.22, 38.08, 38.64, 38.83, 40.75, 40.54, 40.47, 39.22, 39.28, 39.02, 39.98, 36.46, 36.22, 37.06, 36.17, 36.46, 35.67, 35.41, 35.47, 34.65, 35.42, 35.72, 36.12, 36.39, 36.26, 35.79, 36.19, 35.4, 33.93, 34.03, 33.79, 34.8, 33.4, 33.15, 32.37, 31.46, 31.81, 31.29, nan, 30.37, 30.68, 30.79, 31.43, 31.64, 29.37, 29.3, 28.73, 29.32, 29.53, 28.99, 28.44, 28.72, 27.57]
[DoGetStockPrice] AMD | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[76.47, 73.7, nan, 75.03, 75.69, 79.09, 79.32, 76.87, 76.49, 77.47, 79.16, 81.06, 81.56, 87.2, 88.87, 89.76, 88.1, 87.35, 86.7, 89.98, 91.25, 94.7, 97.44, 92.42, 97.74, 103.84, 102.14, 100.17, 95.25, 99.09, 98.17, 100.8, 101.0, 100.2, 97.69, 100.45, 95.98, 92.97, 92.38, 92.18, 96.94, 90.97, 88.93, 86.98, 81.69, 82.77, 80.29, nan, 78.69, 79.98, 83.48, 85.45, 84.71, 77.11, 77.97, 75.94, 76.61, 77.1, 75.31, 73.85, 75.26, 67.94]
[DoGetStockPrice] MSFT | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[258.02, 259.86, nan, 262.49, 266.42, 267.81, 267.62, 264.98, 254.06, 252.06, 255.6, 256.71, 255.18, 260.0, 260.72, 264.01, 260.78, 258.37, 262.51, 268.27, 277.92, 280.72, 278.45, 274.8, 282.02, 284.24, 282.82, 281.62, 283.45, 289.18, 287.9, 291.97, 293.49, 293.02, 290.68, 290.22, 286.02, 278.81, 276.45, 276.71, 278.83, 267.41, 266.27, 263.02, 259.47, 259.88, 256.42, nan, 253.82, 258.33, 259.77, 264.46, 267.51, 253.49, 252.87, 243.81, 245.08, 245.48, 242.51, 237.76, 241.49, 238.31]
[DoGetStockPrice] IBM | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[145.03, 141.23, nan, 141.7, 138.4, 141.53, 141.0, 142.03, 142.03, 137.16, 139.25, 140.72, 132.73, 131.92, 128.98, 126.83, 129.83, 128.36, 130.23, 129.14, 130.03, 131.03, 132.53, 132.93, 132.88, 131.82, 132.51, 133.03, 129.63, 132.61, 132.71, 134.33, 134.73, 139.03, 137.81, 139.33, 138.38, 136.37, 134.77, 133.51, 134.33, 130.43, 130.8, 131.91, 128.47, 129.93, 128.03, nan, 126.91, 132.03, 128.83, 129.11, 131.91, 131.33, 128.88, 125.21, 127.53, 128.05, 128.68, 125.43, 125.62, 123.91]
[DoGetStockPrice] XLY | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[138.06, 140.5, nan, 143.63, 143.18, 146.8, 146.83, 142.84, 141.98, 143.1, 143.0, 145.3, 145.72, 150.18, 152.65, 156.18, 155.27, 153.96, 148.96, 154.59, 157.25, 163.35, 164.19, 163.07, 166.99, 167.7, 164.87, 165.58, 162.93, 167.58, 166.68, 170.47, 171.63, 173.55, 171.7, 171.63, 168.07, 163.41, 163.9, 164.59, 166.55, 160.19, 159.33, 157.56, 156.03, 157.43, 156.12, nan, 155.65, 160.44, 161.96, 165.0, 167.11, 158.58, 160.64, 159.72, 158.44, 160.35, 157.65, 153.89, 150.33, 146.94]
[DoGetStockPrice] US500 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[3790.9, 3826.5, 3847.2, 3825.9, 3852.4, 3896.7, 3905.1, 3863.4, 3822.3, 3778.8, 3809.6, 3865.6, 3843.3, 3942.8, 3955.5, 3982.6, 3962.0, 3955.7, 3954.3, 4019.1, 4095.3, 4132.0, 4113.9, 4094.1, 4150.7, 4153.8, 4142.2, 4153.5, 4130.1, 4212.7, 4214.4, 4280.8, 4295.5, 4307.5, 4268.3, 4285.6, 4227.4, 4151.6, 4128.5, 4145.2, 4195.9, 4043.0, 4042.0, 3987.7, 3935.5, 3968.8, 3933.3, 3939.5, 3906.6, 3977.8, 4010.0, 4068.6, 4119.1, 3943.0, 3956.1, 3879.8, 3887.6, 3917.2, 3861.7, 3767.7, 3817.8, 3698.0]
[DoGetStockPrice] US100 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[11523.0, 11591.4, 11673.8, 11760.5, 11875.5, 12082.4, 12136.8, 11883.6, 11753.9, 11656.5, 11841.3, 11996.9, 11918.6, 12291.7, 12417.4, 12524.9, 12405.9, 12280.4, 12264.9, 12563.5, 12879.8, 12963.2, 12939.8, 12893.5, 13222.5, 13320.0, 13202.6, 13208.8, 13042.0, 13387.8, 13324.2, 13567.9, 13671.8, 13639.8, 13437.3, 13510.4, 13233.2, 12942.0, 12882.4, 12921.7, 13132.7, 12547.0, 12524.6, 12359.2, 12169.4, 12289.9, 12122.7, 12143.2, 12002.3, 12254.4, 12348.6, 12588.3, 12769.8, 12067.2, 12177.5, 11846.8, 11892.2, 12012.2, 11860.4, 11545.7, 11723.5, 11322.7]
[DoGetStockPrice] US30 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[30814, 31103, 31226, 30917, 31082, 31369, 31399, 31241, 31016, 30633, 30762, 31299, 31130, 31850, 31846, 31973, 31892, 31864, 31876, 32186, 32541, 32861, 32775, 32464, 32798, 32751, 32768, 32914, 32826, 33340, 33382, 33764, 33899, 34152, 33958, 34007, 33716, 33152, 32909, 32962, 33262, 32192, 32181, 31788, 31430, 31658, 31389, 31453, 31147, 31561, 31779, 32146, 32436, 31193, 31197, 30832, 30936, 31148, 30748, 30089, 30424, 29621]
[DoGetStockPrice] J225 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[26415, 26333, 26443, 26110, 26280, 26607, 26822, 26670, 26399, 26359, 26796, 26999, 26991, 27411, 27606, 27791, 27717, 27671, 27568, 28011, 27955, 27966, 27809, 27738, 27979, 27848, 28134, 28149, 27923, 28158, 28175, 28779, 28894, 28968, 28964, 29102, 28761, 28577, 28482, 28413, 28686, 28146, 28077, 27899, 27787, 27764, 27544, 27678, 27543, 27747, 28229, 28416, 28583, 27858, 27889, 27619, 27591, 27833, 27453, 27068, 27260, 26646]
[DoGetStockPrice] RTY | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[1701.0, 1724.0, 1731.1, 1732.1, 1726.8, 1762.3, 1766.5, 1733.4, 1723.3, 1708.5, 1712.8, 1741.8, 1739.8, 1796.4, 1818.0, 1824.9, 1803.8, 1807.8, 1807.6, 1842.4, 1867.6, 1879.6, 1876.8, 1879.3, 1903.8, 1903.5, 1913.5, 1940.7, 1910.4, 1965.3, 1972.9, 2010.5, 2015.9, 2017.4, 1980.6, 1992.5, 1952.0, 1916.6, 1912.6, 1930.8, 1954.8, 1883.1, 1879.0, 1847.8, 1825.4, 1817.6, 1805.8, 1812.8, 1782.0, 1818.6, 1839.0, 1871.4, 1899.5, 1822.1, 1832.3, 1804.5, 1791.6, 1810.5, 1781.2, 1738.1, 1766.3, 1670.6]
[DoGetStockPrice] DE40 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[12826.4, 12907.8, 12778.7, 12511.7, 12657.9, 12841.0, 12973.5, 12837.7, 12808.6, 12698.0, 12640.8, 12864.5, 12887.2, 13339.4, 13189.0, 13195.4, 13167.0, 13178.7, 13166.7, 13223.8, 13407.4, 13536.8, 13458.1, 13418.0, 13610.5, 13651.8, 13608.1, 13676.3, 13536.6, 13721.5, 13662.8, 13878.1, 13843.5, 13933.0, 13630.7, 13693.5, 13534.0, 13230.8, 13148.8, 13190.8, 13322.2, 12816.9, 12938.2, 12929.6, 12756.1, 12781.5, 12710.5, 12759.0, 12793.3, 12965.9, 12863.9, 13116.0, 13415.4, 13091.0, 13073.1, 12843.3, 12793.0, 12907.4, 12623.1, 12523.1, 12767.4, 12304.0]
[DoGetStockPrice] HK50 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[21890.5, nan, 22104.0, 21686.0, 21472.0, 21930.5, 21728.5, 21002.0, 20851.0, 20653.0, 20588.0, 20358.0, 20772.0, 20954.5, 20770.0, 20726.5, 20448.5, 20623.0, 20759.0, 20810.5, 20657.0, 20069.0, 19970.5, 19799.5, 19936.5, 20257.0, 20093.0, 20075.0, 19976.5, 19876.5, 20122.0, 20196.0, 20071.0, 19936.0, 19880.0, 19711.5, 19564.5, 19650.0, 19517.5, 19364.5, 20160.0, 20028.0, 20043.0, 19548.0, 19730.0, 19638.0, 19246.5, 19255.0, 18973.5, 19042.0, 18912.0, 19268.0, nan, 18841.0, 18860.0, 18717.0, 18703.5, 18763.0, 18603.5, 18107.0, 18169.0, 17824.0]
[DoGetStockPrice] AU200 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[6612.6, 6656.1, 6664.9, 6584.0, 6641.0, 6710.9, 6709.0, 6645.5, 6609.5, 6598.0, 6603.1, 6670.8, 6689.6, 6750.2, 6772.0, 6791.0, 6798.7, 6807.1, 6795.0, 6893.9, 6954.6, 7021.7, 6974.7, 6994.2, 7023.0, 6998.5, 7019.6, 7019.0, 7013.4, 7081.6, 7049.1, 7081.4, 7109.1, 7115.4, 7116.8, 7142.5, 7087.5, 7006.3, 6974.6, 7030.2, 7073.7, 7009.9, 6998.0, 6937.4, 6831.2, 6843.5, 6826.9, 6861.2, 6788.6, 6743.2, 6849.9, 6966.3, 7005.4, 6843.0, 6841.1, 6776.3, 6729.5, 6782.1, 6737.5, 6631.0, nan, 6476.0]
[DoGetStockPrice] SSE | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[16.16, 16.81, 17.04, 16.61, 17.06, 17.03, 16.98, 17.56, 17.86, 17.58, 17.57, 17.59, 17.94, 17.92, 17.69, 17.28, 17.28, 17.38, 17.53, 17.83, 17.29, 17.8, 17.87, 18.01, 17.74, 17.83, 17.7, 17.92, 18.13, 17.81, 17.81, 17.94, 18.06, 18.34, 18.34, 18.4, 18.4, 18.61, 18.5, 18.39, 18.29, 18.06, nan, 17.17, 16.45, 16.69, 16.9, 17.02, 16.92, 17.65, 17.56, 17.96, 18.13, 18.0, 17.55, 17.33, 17.43, nan, 17.1, 17.42, 17.39, 16.95]
[DoGetStockPrice] UK100 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[7209.3, 7237.9, 7231.0, 7091.5, 7162.1, 7199.5, 7193.7, 7193.6, 7195.3, 7159.2, 7097.4, 7178.9, 7201.2, 7322.3, 7256.9, 7276.1, 7253.5, 7310.7, 7329.3, 7382.5, 7382.5, 7452.4, 7406.6, 7397.0, 7440.8, 7438.4, 7453.6, 7497.3, 7488.9, 7494.6, 7473.6, 7542.2, 7534.5, 7565.2, 7503.7, 7560.8, 7546.9, 7530.4, 7492.4, 7470.6, 7504.8, 7399.5, 7409.7, 7342.4, 7245.9, 7184.5, 7215.6, 7285.3, 7258.0, 7243.4, 7261.1, 7385.2, 7463.9, 7349.1, 7317.4, 7253.9, 7261.3, 7282.3, 7196.9, 7175.9, 7248.5, 7031.8]
[DoGetStockPrice] EU50 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[3466.1, 3476.0, 3472.7, 3399.9, 3439.2, 3486.7, 3497.0, 3470.0, 3464.9, 3443.4, 3436.5, 3479.3, 3489.3, 3598.4, 3561.4, 3586.2, 3576.4, 3596.9, 3586.0, 3627.0, 3686.7, 3727.9, 3702.4, 3677.6, 3734.8, 3750.0, 3735.5, 3756.1, 3718.1, 3757.6, 3748.6, 3804.4, 3802.3, 3814.5, 3761.4, 3777.4, 3724.2, 3655.3, 3645.4, 3660.1, 3693.5, 3561.9, 3582.1, 3552.4, 3490.4, 3492.2, 3462.9, 3485.4, 3475.4, 3516.2, 3505.4, 3582.2, 3647.6, 3564.9, 3578.9, 3507.7, 3510.0, 3529.4, 3457.9, 3431.1, 3492.5, 3356.2]
[DoGetStockPrice] CN50 | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[15049, 15000, 14966, 14961, 14731, 14857, 14804, 14474, 14326, 14336, 14296, 14038, 14200, 14209, 14128, 13991, 13975, 14013, 14037, 14002, 13906, 13693, 13622, 13503, 13388, 13520, 13610, 13556, 13555, 13470, 13683, 13735, 13679, 13656, 13757, 13639, 13557, 13642, 13668, 13490, 13671, 13553, 13480, 13344, 13501, 13432, 13241, 13241, 13204, 13275, 13225, 13402, 13433, 13345, 13380, 13300, 13087, 13176, 13102, 12934, 12921, 12832]
[DoGetStockPrice] VTI | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[189.33, 191.28, nan, 191.92, 192.26, 195.38, 195.25, 192.79, 191.17, 190.28, 189.47, 193.14, 191.77, 197.14, 198.75, 200.69, 198.57, 198.8, 196.4, 201.52, 204.1, 206.93, 206.41, 205.3, 208.59, 208.45, 208.39, 208.5, 207.25, 212.01, 211.98, 215.64, 216.48, 216.86, 214.97, 215.56, 212.42, 208.0, 207.55, 208.38, 211.46, 204.39, 202.92, 200.67, 199.17, 199.35, 197.41, nan, 196.52, 200.22, 201.75, 205.07, 207.28, 198.39, 199.15, 197.02, 195.28, 196.67, 194.33, 191.03, 188.9, 184.85]
[DoGetStockPrice] VGT | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[327.78, 328.67, nan, 333.65, 335.97, 343.31, 343.6, 338.22, 333.52, 332.67, 335.02, 341.2, 338.01, 348.31, 354.8, 359.93, 354.32, 351.84, 345.51, 360.28, 365.57, 371.33, 370.79, 368.9, 379.34, 380.63, 380.17, 377.4, 372.8, 384.28, 382.1, 389.94, 392.26, 390.94, 387.62, 389.76, 382.07, 371.74, 370.76, 371.51, 378.27, 362.17, 357.39, 353.82, 350.34, 347.27, 343.18, nan, 340.71, 346.33, 348.26, 355.73, 361.49, 342.49, 343.99, 336.29, 333.76, 336.47, 334.3, 329.23, 324.93, 320.66]
[DoGetStockPrice] EEM | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[40.27, 40.0, nan, 39.68, 39.44, 40.26, 40.22, 39.14, 39.0, 38.92, 38.6, 38.79, 39.05, 39.68, 39.5, 39.97, 39.56, 39.71, 39.39, 40.12, 40.29, 40.11, 39.77, 39.56, 39.89, 40.16, 40.19, 40.24, 40.11, 40.61, 40.78, 41.2, 40.99, 41.01, 40.82, 40.58, 40.04, 39.71, 39.89, 39.91, 40.76, 40.15, 39.9, 39.43, 39.55, 39.25, 38.9, nan, 38.45, 38.76, 38.59, 39.15, 39.74, 38.5, 38.71, 38.29, 37.91, 38.05, 37.85, 37.21, 37.04, 36.13]
[DoGetStockPrice] TLT | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[114.91, 115.96, nan, 116.81, 114.84, 113.86, 112.58, 114.51, 115.1, 116.52, 115.51, 116.2, 115.01, 114.36, 114.73, 116.69, 118.72, 117.44, 117.57, 116.96, 117.79, 117.51, 120.11, 117.59, 119.51, 119.32, 116.56, 118.41, 117.94, 117.16, 114.45, 115.61, 115.57, 116.05, 114.74, 114.94, 113.12, 112.74, 112.1, 111.28, 112.84, 113.74, 112.74, 113.07, 112.0, 109.66, 110.3, nan, 107.53, 109.26, 108.13, 108.41, 107.49, 107.78, 108.15, 108.03, 107.18, 107.39, 106.31, 108.1, 105.31, 105.81]
[DoGetStockPrice] DXY | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[104.4115, 104.9055, 104.9115, 106.2275, 106.7925, 106.8385, 106.6755, 107.9325, 107.8815, 107.6965, 108.3975, 107.7975, 107.1715, 106.4175, 106.8295, 106.349, 106.505, 106.2085, 106.9265, 106.1915, 105.9205, 105.6425, 105.1275, 106.0275, 106.1235, 105.4865, 106.2425, 106.0815, 106.0025, 104.8935, 104.7665, 105.3635, 106.1485, 106.1515, 106.3455, 107.1755, 107.9055, 108.6995, 108.2805, 108.3585, 108.1515, 108.5655, 108.5345, 108.5695, 108.4035, 109.4365, 109.356, 109.5905, 109.9996, 109.414, 109.4205, 108.7485, 108.0425, 109.6475, 109.3725, 109.4795, 109.4245, 109.3435, 109.9365, 111.1165, 110.299, 112.8375]
[DoGetStockPrice] USDCAD | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------
[1.2874, 1.28922, 1.28597, 1.30335, 1.3039, 1.29692, 1.29456, 1.29988, 1.30343, 1.3001, 1.31093, 1.30284, 1.29812, 1.28751, 1.28883, 1.28814, 1.29196, 1.28526, 1.28773, 1.28194, 1.28081, 1.27995, 1.28456, 1.28893, 1.28564, 1.2871, 1.29402, 1.28569, 1.28868, 1.27758, 1.2765, 1.27753, 1.29063, 1.28471, 1.29198, 1.29489, 1.29936, 1.30506, 1.29606, 1.29723, 1.29403, 1.30414, 1.30038, 1.30923, 1.31441, 1.31497, 1.31279, 1.31316, 1.31569, 1.31308, 1.30828, 1.30214, 1.2983, 1.31685, 1.31612, 1.32504, 1.32657, 1.32446, 1.33659, 1.34803, 1.34182, 1.35914]
[DoGetStockPrice] USDJPY | date from: 2022-06-30T00:00:00 - date to: 2022-09-25T00:00:00
-----------------------------------------------------------------------------------------------------

In [18]:
df.head()

,Date,Open,High,Low,Close,Volume,TSLA,META,GOOG,NFLX,...,GBPUSD,GOLD,SILVER,COPPER,PLATINUM,PALLADIUM,OIL_CRUDE,OIL_BRENT,NATURALGAS,VIX
0,2022-06-30,137.47,138.40,133.81,137.08,119113.0,224.34,161.44,109.62,177.02,...,1.21612,1806.65,20.277,3.6915,902.14,1939.94,104.77,108.66,5.657,28.74
1,2022-07-01,135.51,139.15,135.46,139.05,122379.0,226.76,160.09,109.17,180.18,...,1.21054,1811.12,19.889,3.6155,897.82,1972.83,106.69,110.74,5.645,28.01
2,2022-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.21143,1809.58,20.001,3.5875,891.26,1939.93,108.54,112.72,5.849,27.81
3,2022-07-05,139.21,141.79,136.96,141.46,142460.0,233.08,168.30,113.85,186.04,...,1.19521,1769.81,19.254,3.4435,872.90,1946.99,99.28,101.83,5.624,28.25
4,2022-07-06,141.90,144.15,140.25,143.00,144194.0,231.58,169.92,115.52,184.27,...,1.19230,1740.21,19.193,3.4375,862.58,1922.80,95.76,98.89,5.545,27.66

In [19]:
orig_df = df

In [20]:
df = df.dropna(thresh=int(len(STOCK_LIST) * EMPTY_VALUES_THRESHOLD + 1))
df = df.replace(np.nan, '#NA')

In [21]:
df.head()

,Date,Open,High,Low,Close,Volume,TSLA,META,GOOG,NFLX,...,GBPUSD,GOLD,SILVER,COPPER,PLATINUM,PALLADIUM,OIL_CRUDE,OIL_BRENT,NATURALGAS,VIX
0,2022-06-30,137.47,138.40,133.81,137.08,119113.0,224.34,161.44,109.62,177.02,...,1.21612,1806.65,20.277,3.6915,902.14,1939.94,104.77,108.66,5.657,28.74
1,2022-07-01,135.51,139.15,135.46,139.05,122379.0,226.76,160.09,109.17,180.18,...,1.21054,1811.12,19.889,3.6155,897.82,1972.83,106.69,110.74,5.645,28.01
3,2022-07-05,139.21,141.79,136.96,141.46,142460.0,233.08,168.30,113.85,186.04,...,1.19521,1769.81,19.254,3.4435,872.90,1946.99,99.28,101.83,5.624,28.25
4,2022-07-06,141.90,144.15,140.25,143.00,144194.0,231.58,169.92,115.52,184.27,...,1.19230,1740.21,19.193,3.4375,862.58,1922.80,95.76,98.89,5.545,27.66
5,2022-07-07,143.61,146.59,142.88,145.99,67581.0,243.72,171.75,119.30,188.73,...,1.20297,1742.08,19.259,3.5450,880.88,2002.01,100.33,102.65,6.159,27.47

# Get FRED Data

In [22]:
def AppendFREDData(fred_list, df):
  df_date_list = df['Date'].tolist()

  for symbol in fred_list:
    item = fred.get_series(symbol)

    item.index = item.index.strftime(DATE_DF_FORMAT)
    add = item[[i in df_date_list for i in item.index]]
    add = add.reindex(df_date_list, fill_value='#NA')
    df[symbol] = add.tolist()

  return df

In [23]:
df = AppendFREDData(FRED_LIST, df)

In [24]:
df.tail()

,Date,Open,High,Low,Close,Volume,TSLA,META,GOOG,NFLX,...,PLATINUM,PALLADIUM,OIL_CRUDE,OIL_BRENT,NATURALGAS,VIX,T10Y2Y,T10YIE,T5YIE,T5YIFR
57,2022-09-19,149.60,155.02,148.73,155.02,174953.0,309.53,148.52,104.82,244.50,...,925.52,2226.86,85.39,90.80,7.950,25.58,-0.46,2.34,2.44,2.24
58,2022-09-20,153.88,158.11,153.13,156.51,193568.0,307.51,146.07,102.38,243.30,...,927.90,2171.09,83.96,90.02,7.815,27.42,-0.39,2.40,2.48,2.32
59,2022-09-21,156.48,158.73,152.25,152.49,296918.0,299.33,140.86,99.71,234.94,...,911.00,2157.13,82.77,89.00,7.799,28.64,-0.51,2.38,2.47,2.29
60,2022-09-22,153.89,154.97,150.94,154.93,267191.0,304.56,143.87,101.27,238.85,...,916.36,2162.99,84.30,90.38,7.791,27.54,-0.41,2.41,2.45,2.37
61,2022-09-23,152.19,152.39,148.59,150.67,258020.0,275.15,140.21,99.53,226.89,...,872.61,2077.40,79.16,85.68,7.045,30.04,-0.51,2.37,2.38,2.36

# Save to CSV

In [25]:
df.to_csv(OUTPUT_FILE, index=False)